
<div class="br-logo"><a href="#"><span>[</span>Gazelec<span>]</span></a></div>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/gestionnaire">Espace Gestionnaire</a>
      </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/gestionnaire/liste">Demandes d'inscription</a></li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/gestionnaire/membres">Gestion des membres</a></li>
            <li class="nav-item active">
              <a class="nav-link" routerLink="/gestionnaire/reservations">Gestion des réseravtions </a></li>


    </ul>
  </div>
</nav>
<div class="br-sideleft overflow-y-auto">
  <label class="sidebar-label pd-x-15 mg-t-20">Navigation</label>
  <div class="br-sideleft-menu">
    <nav class="sidebar">
      <ul class="list-unstyled">
       
        <li>
          <a routerLink="/gestionnaire">
            <i></i>
            Espace Gestionnaire
          </a>
        </li>
        <li>
          <a routerLink="/gestionnaire/liste">
            <i class="fa fa-users"></i>
          Demandes d'inscriptions
          </a>
        </li>
        <li>
          <a routerLink="/gestionnaire/membres">
            <i class="fa fa-users"></i>
           Gestion des membres
          </a>
        </li>
        <li>
          <a (click)="reservation()">
            <i class="fa fa-calendar"></i>
           Gestion des réservations
          </a>
        </li>


      </ul>
    </nav>

  </div><!-- br-sideleft-menu -->
  <br>
</div>
<!--menu ends -->


<!--header starts -->
<!-- ########## START: HEAD PANEL ########## -->
<div class="br-header">

  <nav class="navbar navbar-expand-md navbar-dark bg-dark">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" >Espace Gestionnaire </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Gestion des rôles
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Ajouter un rôle</a>
            <a class="dropdown-item" routerLink="gestionnaire/moderateurs">Liste des rôles</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>


    <div class="br-header-right">
      <nav class="nav">

        <div class="dropdown">
          <a href="#" class="nav-link pd-x-7 pos-relative" data-toggle="dropdown">
            <i class="icon ion-ios-bell-outline tx-24"></i>
            <!-- start: if statement -->
            <span class="square-8 bg-danger pos-absolute t-15 r-5 rounded-circle"></span>
            <!-- end: if statement -->
          </a>
          <div class="dropdown-menu dropdown-menu-header wd-300 pd-0-force">
            <div class="d-flex align-items-center justify-content-between pd-y-10 pd-x-20 bd-b bd-gray-200">
              <label class="tx-12 tx-info tx-uppercase tx-semibold tx-spacing-2 mg-b-0">Notifications</label>
              
            </div><!-- d-flex -->

            <div class="media-list">
              <!-- loop starts here -->
              <a routerLink="/gestionnaire/liste" class="media-list-link read" *ngIf="nb_membres>0">
                <div class="media pd-x-20 pd-y-15">
                  <img src="assets/photos/membre.png" class="wd-40 rounded-circle" alt="">
                  <div class="media-body">
                    <p class="tx-13 mg-b-0 tx-gray-700"> Vous avez <strong class="tx-medium tx-gray-800">{{nb_membres}}</strong> nouvelles demandes d'inscriptions</p>
                   
                  </div>
                </div><!-- media -->
              </a>
              <!-- loop ends here -->
              <a  class="media-list-link read" *ngFor="let a of reservations"  (click)="storeData(a)" >
                <div class="media pd-x-20 pd-y-15">
                  <img src="assets/photos/reservation.png" class="wd-40 rounded-circle" alt="">
                  <div class="media-body">
                    <p class="tx-13 mg-b-0 tx-gray-700">Vous avez une demande de réservation pour le terrain de tennis n°<strong class="tx-medium tx-gray-800">{{a.terrain.id_terrain}}</strong></p>
                    <span class="tx-12">{{a.date}}, de {{a.hdebut}} à {{a.hfin}}</span>
                  </div>
                </div><!-- media -->
              </a>
             
             
             
            </div><!-- media-list -->
          </div><!-- dropdown-menu -->
        </div><!-- dropdown -->
        <div class="dropdown">
          <a  class="nav-link nav-link-profile" data-toggle="dropdown">
            <span class="logged-name hidden-md-down">{{currentUser.lastName}} {{currentUser.firstName}}</span>
            <img src="assets/img/user.png" class="wd-32 rounded-circle" alt="">
            <span class="square-10 bg-success"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-header wd-200">
            <ul class="list-unstyled user-profile-nav">
              <li><a routerLink="/gestionnaire/profil"><i class="icon ion-ios-person"></i> Profil</a></li>

              <li><a  (click)="deconnect()"><i class="icon ion-power"></i> Déconnecter</a></li>
            </ul>
          </div><!-- dropdown-menu -->
        </div><!-- dropdown -->
      </nav>
      <div class="navicon-right">
       
      </div><!-- navicon-right -->
    </div><!-- br-header-right -->
  </div><!-- br-header -->
  <!-- ########## END: HEAD PANEL ########## -->

   
  <!--header ends -->
  <router-outlet></router-outlet>
