<div class="br-mainpanel">
  <div class="br-pageheader pd-y-15 pd-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">

      <span class="breadcrumb-item" >Gestion des réservations</span>
      <span class="breadcrumb-item active">les demandes de réservations  </span>
    </nav>
  </div><!-- br-pageheader -->
  <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
    <h4 class="tx-gray-800 mg-b-5">Gérer les réservations </h4>

   
  </div>

 
  <div class="br-pagebody">
    <div class="br-section-wrapper row d-flex justify-content-between" >


     
        <div class="col-md-5 mt-3">
          <div class="col-lg-10"  >
            <div class="form-group mg-b-10-force">
              <label for="c"class="form-control-label custom-label">Veuillez selectionner un terrain  de tennis :  <span class="tx-danger">*</span></label>
              <select  class="form-control"  [(ngModel)]="id_terrain" id="c" (change)="onTerrainSelect()">
                <option label="Choisir un terrain "></option>
                <option value="1">Terrain 1 </option>
                <option value="2">Terrain 2 </option>
                <option value="3">Terrain 3 </option>
                <option value="4">Terrain 4 </option>
                <option value="5">Terrain 5 </option>
                <option value="6">Terrain 6 </option>
              </select>
            </div>
          </div>
        <hr>
        <button (click)="toggleWeekends()">Afficher weekends</button>
        <full-calendar [options]="calendarOptions"></full-calendar>
      </div>
      <div class="col-md-7 mt-3" >
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h2 class="text-muted mb-6 text-center">Les créneaux du terrain n° {{id_terrain}}</h2>
        <p style="text-align: center; font-weight: bold;"> en {{dateClicked }}</p>

        <hr>
        <div class="cases-parent">
          
        <div *ngFor="let reservation of reservations" class="case">
       <label>
        <div class="case-content">
        <div class="meta-top">
         <ul>
          <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-details.html"><time datetime="2022-01-01"></time></a></li>
        </ul>
          </div>
         <p class="time">{{ reservation.hdebut }} - {{ reservation.hfin }}</p>
         <p class="time" [ngClass]="{'button-accepted': reservation.status === 'acceptée', 'button-pending': reservation.status === 'en attente'}">{{reservation.status}}</p>
         <button *ngIf="reservation.status === 'acceptée'" class="btn"  class="btn button-border" data-toggle="modal" data-target="#exampleModal11" (click)="consulterReservation(reservation.hdebut , reservation.hfin , reservation.status , reservation.date , reservation.user.nom , reservation.user.prenom , reservation.terrain.num_terrain , reservation.user.email)">Voir</button>
        <button *ngIf="reservation.status === 'en attente'" class="btn" class="btn button-border" data-toggle="modal" data-target="#exampleModal22" (click)="repondreReservation(reservation.id_reservation , reservation.hdebut , reservation.hfin , reservation.status , reservation.date , reservation.user.nom , reservation.user.prenom , reservation.user.email , reservation.terrain.num_terrain )">Repondre</button>
        </div>
        </label>
        </div>
  
        </div>
        <br>
        <div class="center" *ngIf="verif">
          <h4 >Terrain disponible</h4>
          <br>
          <p>Aucune demande n'est trouvée</p>
        </div>
        

      </div>
      
       
        <!--Si la liste des demandes est vide -->
         
       
       
    



    </div><!-- br-section-wrapper -->
  </div><!-- br-pagebody -->

</div><!-- br-mainpanel -->

  <!--1ere modele -->
  <div class="modal fade" id="exampleModal11" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Reservation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            
            <img src="assets/photos/reservation.png" style="display: block; margin: 0 auto; max-height: 150px;">

          </div>
          <h4>Réservation {{objetConsult.status}} </h4>
          <hr>
          <h4>Date : {{objetConsult.date}}</h4>
          <h4>Horaire : {{objetConsult.hdebut}} - {{objetConsult.hfin}} </h4>
          <h4>N° terrain : {{objetConsult.numTerrain}}</h4>
          <hr>
          <h4>Adhérent : </h4>
          <h4>Nom et prénom : {{objetConsult.firstName}} {{objetConsult.lastName}} </h4>
          <h4>Email : {{objetConsult.email}}</h4>
          
          <br>
         
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>
  <!--2eme modele -->
  <div class="modal fade" id="exampleModal22" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Reservation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            <!--alert de succée dans le cas de modification  -->
            <div class="alert alert-success" role="alert"  *ngIf="accept" >
              <strong class="d-block d-sm-inline-block-force"> Cette demande est acceptée  </strong>
             </div>
               <!--alert de succée dans le cas de modification  -->
            <div class="alert alert-success" role="alert"  *ngIf="refus" >
              <strong class="d-block d-sm-inline-block-force"> Cette demande est refusée </strong>
             </div>
        </div>
        <div class="modal-body">
          <div class="form-group">
            
            <img src="assets/photos/reservation.png" style="display: block; margin: 0 auto; max-height: 150px;">

          </div>
          <h4>Réservation {{objetRepondre.status}}  </h4>
          <hr>
          <h4>Date : {{objetRepondre.date}}</h4>
          <h4>Horaire :  {{objetRepondre.hdebut}}-{{objetRepondre.hfin}}</h4>
          <h4>N° terrain : {{objetRepondre.numTerrain}}</h4>
          <hr>
          <h4>Adhérent :  </h4>
          <h4>Nom et prénom : {{objetRepondre.firstName}} {{objetRepondre.lastName}}</h4>
          <h4>Email : {{objetRepondre.email}}</h4>
          
          <br>
         
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success mr-2" (click)="accepterReservation()">Accepter</button>
          <button type="button" class="btn btn-danger" (click)="refuserReservation()">Refuser</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        </div>        
      </div>
    </div>
  </div>