

 <!-- Alerte de confirmation -->
 <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-danger confirmation-dialog" role="alert" *ngIf="showConfirmationDialog">
          <h4 class="alert-heading">Confirmation de suppression</h4>
          <p>Voulez-vous vraiment supprimer cet utilisateur ?</p>
          <hr>
          <div class="button-container">
            <button class="btn btn-secondary cancel-button" (click)="closeConfirmationDialog()">Annuler</button>
            <button class="btn btn-danger confirm-button" (click)="deleteUser()">Supprimer</button>
          </div>
        </div>
      </div>
    </div>
  </div>
   <!-- Alerte de confirmation -->
   <div class="br-mainpanel">
    <div class="br-pageheader pd-y-15 pd-l-20">
      <nav class="breadcrumb pd-0 mg-0 tx-12">

        <span class="breadcrumb-item" >Consultation des membres</span>
        <span class="breadcrumb-item active">Liste des membres </span>
      </nav>
    </div><!-- br-pageheader -->
    <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
      <h4 class="tx-gray-800 mg-b-5">Liste des membres {{objDiscipline.discipline}}</h4>


    </div>

    <div class="alert alert-success" role="alert"  *ngIf="supprimer" >
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong class="d-block d-sm-inline-block-force">Utilisateur suppimé avec succés!</strong>
    </div><!-- alert -->
    <div class="br-pagebody">
      <div class="br-section-wrapper">



        <form style="width: 70%;margin-bottom: 3%;">
          <input type="text" [(ngModel)]="query"  name="query" placeholder="Rechercher par nom ou prénom ou email "  (input)="onInputChange()">
          <button  type="submit" (click)="search(query)">Rechercher</button>
        </form>
        <p *ngIf="nb_resultats !== null"> {{nb_resultats}} résultats trouvés sur {{nb_membres}}</p>
        <div class="table-wrapper">

          <table id="datatable1" class="table display responsive nowrap">
            <thead>
              <tr>
                <th class="wd-15p">Id</th>
                <th class="wd-15p" >Nom</th>
                <th class="wd-20p">Prénom</th>
                <th class="wd-15p">E-mail</th>
                 <th class="wd-30p">Date de naissance</th>
                 <th class="wd-30p">Adresse</th>
                 <th class="wd-30p">Telephone</th>
                 <th class="wd-15p">Date d'inscription</th>
                 <th class="wd-15p">Discipline</th>
                <th class="wd-15p">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let a of displayedUsers">
                <td>{{a[0]}}</td>
                <td>{{a[1]}}</td>
                <td>{{a[2]}}</td>
                <td>{{a[3]}}</td>
                <td>{{a[4]}}</td>
                <td>{{a[7]}}</td>
                <td>{{a[8]}}</td>
                <td>{{a[9]}}</td>
                <td>{{a[11]}}</td>


                <td  ><button type="button"   data-toggle="modal" data-target="#exampleModal11" class="btn btn-info" (click)="getData(a[0] , a[1] , a[2] , a[3] , a[4] , a[7] , a[8] , a[9] , a[11])">Consulter</button></td>

              </tr>


            </tbody>
          </table>
          <div class="pagination">
            <button class="prev" [disabled]="currentPage == 1" (click)="prevPage()">Précédent</button>

            <ng-container *ngFor="let page of pages">
              <button class="page" [class.active]="currentPage === page" (click)="goToPage(page)">{{ page }}</button>
            </ng-container>

            <button class="next" [disabled]="currentPage == totalPages" (click)="nextPage()">Suivant</button>
          </div>

        </div><!-- table-wrapper -->






      </div><!-- br-section-wrapper -->
    </div><!-- br-pagebody -->

  </div><!-- br-mainpanel -->


  <!--2eme modele -->
  <div class="modal fade" id="exampleModal11" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Entraineur  </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            
            <img src="assets/photos/membre.png" height="200">
          </div>
          <h4>Nom :  {{infoMembre.nom }}</h4>
          <h4>Prenom :  {{infoMembre.prenom}}</h4>
          <h4>Email : {{infoMembre.email}} </h4>
          <h4>Date de naissance :  {{infoMembre.naissance}}</h4>
          <h4>Adresse :  {{infoMembre.naissance}}</h4>
          <h4>Telephone : {{infoMembre.telephone}}</h4>
          <br>
          <h4>Date d'inscription : {{infoMembre.telephone}}</h4>
          <h4>Discipline : {{infoMembre.discipline}} </h4>

          <br>
         
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
         
        </div>
      </div>
    </div>
  </div>
  