
 <div class="br-mainpanel">
  <div class="pd-30">
    <h4 class="tx-gray-800 mg-b-5">Mon Profil </h4>
    <br>
    <div class="user-image d-flex justify-content-center align-items-center">
      <img src="assets/photos/utilisateur.png" alt="Image d'utilisateur" width="60" height="60">
  </div>
  <br>
   <!--alerte de confirmation -->
   <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-info confirmation-dialog" role="alert" *ngIf="showConfirmationDialog">
          <h4 class="alert-heading">Confirmation</h4>
          <p>Voulez-vous vraiment mettre à jour votre profil ?</p>
          <hr>
          <div class="button-container">
            <button class="btn btn-secondary cancel-button" (click)="closeConfirmationDialog()">Annuler</button>
            <button class="btn btn-primary confirm-button" (click)="EditCurrentUser()">mettre à jour</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--alert de succée -->
  <div class="alert alert-success" role="alert"  *ngIf="update" >
    <strong class="d-block d-sm-inline-block-force"> Votre profil est modifié </strong>
  </div>
   <!--alert alert d'erreur -->

   <div class="alert alert-danger" role="alert"  *ngIf="valid&&!erreur" >
    <strong class="d-block d-sm-inline-block-force"> Veuillez vérifier vos champs !  </strong>
  </div>
  <div class="alert alert-danger" role="alert"  *ngIf="erreur" >
    <strong class="d-block d-sm-inline-block-force"> Cette adresse mail existe déjà</strong>
  </div>
  <br>
  <br>
  </div>


        <form  >
          <div class="form-layout form-layout-2">
            <div class="row no-gutters">
              <div class="col-md-4">
                <div class="form-group" id="firstName">
                  <label class="form-control-label"> Nom :  <span class="tx-danger">*</span></label>
                  <input class="form-control" type="text" name="firstname" value="John Paul" placeholder="Entrez votre nom "  [(ngModel)]="user.nom"  [ngModelOptions]="{standalone:true}" >
                </div>
              </div><!-- col-4 -->
              <div class="col-md-4 mg-t--1 mg-md-t-0">
                <div class="form-group mg-md-l--1" id="lastName">
                  <label class="form-control-label">Prenom : <span class="tx-danger">*</span></label>
                  <input class="form-control" type="text" name="lastname" value="McDoe" placeholder="Entrez votre prenom " [(ngModel)]="user.prenom"  [ngModelOptions]="{standalone:true}" >
                </div>
              </div><!-- col-4 -->
              <div class="col-md-4 mg-t--1 mg-md-t-0">
                <div class="form-group mg-md-l--1" id="email">
                  <label class="form-control-label"> Email :  <span class="tx-danger">*</span></label>
                  <input class="form-control" type="text" name="email" value="johnpaul@yourdomain.com" placeholder=" Entrez un nouveau Email"  [(ngModel)]="user.email"  [ngModelOptions]="{standalone:true}" >
                </div>
              </div><!-- col-4 -->
              <div class="col-md-8">
                <div class="form-group bd-t-0-force">
                  <label class="form-control-label">Adresse : <span class="tx-danger">*</span></label>
                  <input class="form-control" type="text" name="address" value="Market St., San Francisco" placeholder="Entrez une nouvelle adresse " [(ngModel)]="user.adresse"  [ngModelOptions]="{standalone:true}" >
                </div>
              </div><!-- col-8 -->
              <div class="col-md-4">
                <div class="form-group mg-md-l--1" id="telephone">
                  <label class="form-control-label">Telephone : <span class="tx-danger">*</span></label>
                  <input class="form-control" type="text" name="lastname" value="McDoe" placeholder="Enterz un nouveau numero de telephone" [(ngModel)]="user.telephone"  [ngModelOptions]="{standalone:true}" >
                </div>
              </div><!-- col-4 -->
            </div><!-- row -->
            <div class="form-layout-footer bd pd-20 bd-t-0">
              <button class="btn btn-success" (click)="openConfirmationDialog()">Enregistrer </button>
              <button  style="margin-left: 50px;" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">Modifier mot de passe  </button>
            </div><!-- form-group -->
          </div>
        </form>

</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #00b894;">
        <h5 class="modal-title" id="exampleModalLabel" style="color: white;">Modifier mot de passe</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <!--alert de succée dans le cas de modification  -->
          <div class="alert alert-success" role="alert"  *ngIf="updatedPassword" >
           <strong class="d-block d-sm-inline-block-force"> Votre mot de passe est modifié avec succès   </strong>
          </div>
          <!--alert d'eereur dans le cas de modification  -->
          <div class="alert alert-danger" role="alert" *ngIf="changerPassword"  >
            <strong class="d-block d-sm-inline-block-force"> L'ancien mot de passe est incorrect </strong>
           </div>
           <div class="alert alert-danger" role="alert" *ngIf="faute"  >
            <strong class="d-block d-sm-inline-block-force">  Veuillez vérifier les champs </strong>
           </div>
      </div>
      <form [formGroup]="PasswordForm">

        <div class="modal-body">

          <div class="form-group">
            <label for="exampleFormControlInput1">Ancien mot de passe <span class="tx-danger">*</span></label>
            <input type="password" class="form-control" formControlName="OldPassword" id="exampleFormControlInput1" placeholder="Entrer votre ancien mot de passe " >
            <div *ngIf="PasswordForm.controls['OldPassword'].invalid && (
              PasswordForm.controls['OldPassword'].touched || PasswordForm.controls['OldPassword'].dirty
            )">
                 <div *ngIf ="PasswordForm.controls['OldPassword'].errors?.['required']" class="red"> Ce champ est obligatoire  </div>


            </div>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Nouveau mot de passe <span class="tx-danger">*</span> </label>
            <input type="password" class="form-control" formControlName="NewPassword" id="exampleFormControlInput1"  placeholder=" Entrer le nouveau mot de passe" >
            <div *ngIf="PasswordForm.controls['NewPassword'].invalid && (
              PasswordForm.controls['NewPassword'].touched || PasswordForm.controls['NewPassword'].dirty
            )">
                 <div *ngIf ="PasswordForm.controls['NewPassword'].errors?.['required']" class="red"> Ce champ est obligatoire  </div>
                 <div  *ngIf ="PasswordForm.controls['NewPassword'].errors?.['minlength']" class="red"> Au moins 5 caractéres  </div>

            </div>
          </div>
           <div class="form-group">
            <label for="exampleFormControlInput1">Confirmer le nouveau mot de passe <span class="tx-danger">*</span> </label>
            <input type="password" class="form-control" formControlName="ConfirmPassword" id="exampleFormControlInput1"  placeholder=" Entrer la confirmation de mot de passe" >
            <div *ngIf="PasswordForm.controls['ConfirmPassword'].invalid && (
              PasswordForm.controls['ConfirmPassword'].touched || PasswordForm.controls['ConfirmPassword'].dirty
            )">
                 <div *ngIf ="PasswordForm.controls['ConfirmPassword'].errors?.['required']" class="red"> Ce champ est obligatoire  </div>
                 <div *ngIf="PasswordForm.controls['ConfirmPassword'].errors?.['noMatch']" class="red">
                  Le mot de passe et sa confirmation ne correspondent pas.
                </div>

            </div>
          </div>

        </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"  (click)="UpdatePasswordUser()">Modifer mot de passe</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>

      </div>
    </div>
  </div>
</div>
