


 <!-- Alerte de confirmation -->

 <div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-danger confirmation-dialog" role="alert" *ngIf="showConfirmationDialog">
        <h4 class="alert-heading">Confirmation de suppression</h4>
        <p>Voulez-vous vraiment supprimer cet événement ?</p>
        <hr>
        <div class="button-container">
          <button class="btn btn-secondary cancel-button" (click)="closeConfirmationDialog()">Annuler</button>
          <button class="btn btn-danger confirm-button" (click)="removeData()">Supprimer</button>
        </div>
      </div>
    </div>
  </div>
</div>
 <!-- Alerte de confirmation -->


 <div class="br-mainpanel">
  <div class="br-pageheader pd-y-15 pd-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">

      <span class="breadcrumb-item" >Gestion des événements </span>
      <span class="breadcrumb-item active">Liste des événements </span>
    </nav>
  </div><!-- br-pageheader -->
  <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
    <h4 class="tx-gray-800 mg-b-5">Liste des événements </h4>
     <!--alert de succée -->
     <div class="alert alert-success" role="alert"  *ngIf="deleted" >
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    <strong class="d-block d-sm-inline-block-force"> Cet événement est supprimé avec succès  </strong>
     </div>
    <!--alert d'erreur  -->
    <div class="alert alert-danger" role="alert"  *ngIf="erreurDelete" >
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    <strong class="d-block d-sm-inline-block-force">  Un problème s'est produit lors de la suppression !  </strong>
    </div>

  </div>

  <div class="br-pagebody">
    <div class="br-section-wrapper">

      <button type="button" class="button-86" routerLink="/admin/addEvent/">Ajouter événement </button>
      <p class="mg-b-25 mg-lg-b-50"></p>


     <form style="width: 70%;margin-bottom: 3%;">
        <input type="text" [(ngModel)]="query"  name="query" placeholder="Rechercher par titre ou par lieu ou par description "  (input)="onInputChange()">
        <button  type="submit" (click)="search(query)">Rechercher</button>
      </form>
      <p *ngIf="nb_resultats !== null"> {{nb_resultats}} résultats trouvés sur {{nb_evenements}}</p>
      <div class="table-wrapper">

        <table id="datatable1" class="table display responsive nowrap">
          <thead>
            <tr>
              <th class="wd-15p">Id</th>
              <th class="wd-15p">Titre</th>
              <th class="wd-15p">Lieu</th>
              <th class="wd-20p">Date</th>
              <th class="wd-20p">Heure debut</th>
              <th class="wd-15p">Action</th>

            </tr>
          </thead>
          <tbody>
            <tr  *ngFor="let item of displayedEvents">
              <td>{{item.id}}</td>
              <td>{{item.titre}}</td>
              <td>{{item.lieu}}</td>
              <td>{{item.date | date:'dd-MM-yyyy'}}</td>
              <td>{{item.heure}}</td>
             

              <td><button type="button"   class="btn btn-danger" (click)="openConfirmationDialog(item.id)">Supprimer</button></td>
              <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="getDetails(item.id, item.titre , item.date , item.description , item.lieu , item.heure)">
                Modifier
              </button>
              </td>
              <td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal11" (click)="getDetails(item.id, item.titre , item.date , item.description , item.lieu , item.heure)">
                Consulter
              </button>
              </td>

            </tr>

          </tbody>
        </table>


      </div><!-- table-wrapper -->

      <div class="pagination">
        <button class="prev" [disabled]="currentPage == 1" (click)="prevPage()">Précédent</button>

        <ng-container *ngFor="let page of pages">
          <button class="page" [class.active]="currentPage === page" (click)="goToPage(page)">{{ page }}</button>
        </ng-container>

        <button class="next" [disabled]="currentPage == totalPages" (click)="nextPage()">Suivant</button>
      </div>





    </div><!-- br-section-wrapper -->
  </div><!-- br-pagebody -->

</div>

<!--1ere modele -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Événement </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <!--alert de succée dans le cas de modification  -->
          <div class="alert alert-success" role="alert"  *ngIf="modified" >
           <strong class="d-block d-sm-inline-block-force"> Cet événement est modifié   </strong>
          </div>
          <!--alert d'eereur dans le cas de modification  -->
          <div class="alert alert-danger" role="alert"  *ngIf="modifiederreur" >
            <strong class="d-block d-sm-inline-block-force"> Veuillez verifier vos champs !  </strong>
           </div>
      </div>
      <form  [formGroup]="this.eventService.dataForm" >
        <div class="modal-body">
          <div class="form-group">
            <label for="exampleFormControlInput1">Titre  <span class="tx-danger">*</span></label>
            <input type="text" class="form-control" id="exampleFormControlInput1" [(ngModel)]="dataEvent.titre" placeholder="Entrer un titre " [ngModelOptions]="{standalone:true}">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Lieu <span class="tx-danger">*</span> </label>
            <input type="text" class="form-control" id="exampleFormControlInput1"[(ngModel)]="dataEvent.lieu" placeholder="Entrer un lieu " [ngModelOptions]="{standalone:true}">
          </div>
         <!--<div class="form-group">
            <label >Date  <span class="tx-danger">*</span> </label>
             <div class="col-10">
               <input class="form-control" type="date" value="{{dataEvent.date}}" id="example-date-input"[(ngModel)]="dataEvent.date"  [ngModelOptions]="{standalone:true}">
             </div>
           </div>-->
           <div class="form-group">
                       
            <label class="col-sm-4 form-control-label">Date <span class="tx-danger">*</span></label>
               <div  class="col-sm-8 mg-t-10 mg-sm-t-0" >
                <input class="form-control" type="date" value="{{dataEvent.date}}" id="example-date-input"[(ngModel)]="dataEvent.date"  [ngModelOptions]="{standalone:true}" >
             </div>
            </div>
           <div  class="form-group">
             <label for="exampleFormControlInput1">Heure début de l'événement :   <span class="tx-danger">*</span>  </label>
             <div  class="col-sm-8 mg-t-10 mg-sm-t-0" >
               <input type="time" class="form-control" [(ngModel)]="dataEvent.heure" placeholder="Entrer une description " [ngModelOptions]="{standalone:true}">
             </div>
           </div>

          <div class="form-group">
            <label for="exampleFormControlInput1">Description <span class="tx-danger">*</span> </label>
          <!-- <input type="text" class="form-control" id="exampleFormControlInput1" [(ngModel)]="dataEvent.description" placeholder="Entrer une description " [ngModelOptions]="{standalone:true}">-->
            <textarea rows="5" class="form-control"  id="exampleFormControlInput1"  placeholder="Entrez une description "   [(ngModel)]="dataEvent.description" placeholder="Entrer une description " [ngModelOptions]="{standalone:true}"></textarea>
          </div>

          <div  class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            <button type="submit" class="btn btn-primary" (click)="updateData()">Modifier</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!--2eme modele -->
<div class="modal fade" id="exampleModal11" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #00b894;">
        <h5 class="modal-title" id="exampleModalLabel" style="color: white;">Evénement  </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">

          <img src="{{this.eventService.host+'/api/Imgevents/'+dataEvent.id}}" style="width: 350px; height: 300px; " *ngIf="selectImg">
        </div>
        <div style="border: 6px solid #00b894; ">
          <br>
        <h4 class="mb-3" style="color: #002a52; "><strong>Titre :</strong> {{dataEvent.titre}}</h4>
        <h4 class="mb-3" style="color: #002a52; "><strong> Date :</strong>{{dataEvent.date}}</h4>
        <h4 class="mb-3" style="color: #002a52; "> <strong>Lieu :</strong> {{dataEvent.lieu}}</h4>
        <h4 class="mb-3" style="color: #002a52; "> <strong>Heure début :</strong> {{dataEvent.heure}}</h4>
       <br>
        <h4 class="mb-3" style="color: #002a52; "> <strong>Description :</strong>{{dataEvent.description}} </h4>
      </div> </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>

      </div>
    </div>
  </div>
</div>


