 <!-- ########## START: MAIN PANEL ########## -->
 <div class="br-mainpanel">
  <div class="pd-30">
    <h4 class="tx-gray-800 mg-b-5">Profil</h4>

  </div><!-- d-flex -->

  <div class="br-pagebody mg-t-5 pd-x-30">


    <div class="row row-sm mg-t-20">

      <div class="col-12">

          <div id="profil-admin">
            <h1>Profil Administrateur</h1>
            <p><span>Nom :</span> admin</p>
            <p><span>Prénom :</span> admin</p>


            <p><span>Adresse e-mail:</span> admin@example.com</p>
            <p><span>Téléphone  :</span> </p>
            <p><span>Adresse :</span> </p>
            <p><span>Mot de passe:</span> ********</p>
          </div>




        </div><!-- card -->







    </div><!-- row -->

  </div><!-- br-pagebody -->

</div><!-- br-mainpanel -->
<!-- ########## END: MAIN PANEL ########## -->
