


<div class="d-flex align-items-center justify-content-center bg-br-primary ht-100v">

    <div class="login-wrapper wd-300 wd-xs-350 pd-25 pd-xs-40 bg-white rounded shadow-base">
         <!--alert de succée -->
      <div class="alert alert-success" role="alert"  *ngIf="connect" >
        <strong class="d-block d-sm-inline-block-force">Vous etes connecté ! </strong>
      </div>
       <!--alert alert d'erreur -->
       <div class="alert alert-danger" role="alert"  *ngIf="erreur" >
        <strong class="d-block d-sm-inline-block-force"> Veuillez vérifier vos champs  !  </strong>
      </div>
      <div class="signin-logo tx-center tx-28 tx-bold tx-inverse"><span class="tx-normal">[</span> Login <span class="tx-normal">]</span></div>
      <div class="tx-center mg-b-60">The Admin Space </div>


      <form  [formGroup]="loginForm" >
        <!--Email -->
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Entrez votre adresse E-mail" formControlName="email" >
            <div *ngIf="loginForm.controls['email'].invalid && (
            loginForm.controls['email'].touched || loginForm.controls['email'].dirty
          )">
               <div *ngIf ="loginForm.controls['email'].errors?.['required']" class="red"> Votre email est obligatoire </div>
               <div *ngIf ="loginForm.controls['email'].errors?.['email']" class="red"> email est incorrecte </div>
          </div>
          </div><!-- form-group -->


          <!--Password -->
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Enter your password" formControlName="password">
            <div *ngIf="loginForm.controls['password'].invalid && (
                loginForm.controls['password'].touched || loginForm.controls['password'].dirty
              )">
                   <div *ngIf ="loginForm.controls['password'].errors?.['required']" class="red"> Veuillez confirmer votre mot de passe  </div>

              </div>
            <a routerLink="/MotDePasseOublie" class="tx-info tx-12 d-block mg-t-10">Mot de passe oublié ?</a>
          </div><!-- form-group -->



          <button type="submit" class="btn btn-info btn-block" (click)="login()" >Se connecter</button>

      </form>


    </div><!-- login-wrapper -->
  </div>
