
<!-- Alerte de confirmation -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-succes confirmation-dialog" role="alert" *ngIf="showConfirmationDialogValidation">
        <h4 class="alert-heading">Confirmation d'inscription</h4>
        <p>Voulez-vous vraiment accepter cette demande d'inscription ?</p>
        <hr>
        <div class="button-container">
          <button class="btn btn-secondary cancel-button" (click)="closeConfirmationDialogValidation()">Annuler</button>
          <button class="btn btn-success confirm-button" (click)="ValidateInscription()">Confirmer</button>
        </div>
      </div>
    </div>
  </div>
</div>
 <!-- Alerte de confirmation -->
 <!-- Alerte de confirmation -->
 <div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-danger confirmation-dialog" role="alert" *ngIf="showConfirmationDialog">
        <h4 class="alert-heading">Confirmation de refus</h4>
        <p>Voulez-vous vraiment refuser cette demande d'inscription ?</p>
        <hr>
        <div class="button-container">
          <button class="btn btn-secondary cancel-button" (click)="closeConfirmationDialog()">Annuler</button>
          <button class="btn btn-danger confirm-button" (click)="deleteInscription()">Refuser</button>
        </div>
      </div>
    </div>
  </div>
</div>
 <!-- Alerte de confirmation -->
 <div class="br-mainpanel">
  <div class="br-pageheader pd-y-15 pd-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">

      <span class="breadcrumb-item" >Gestion des membres</span>
      <span class="breadcrumb-item active">Demandes d'inscription</span>
    </nav>
  </div><!-- br-pageheader -->
  <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
    <h4 class="tx-gray-800 mg-b-5">Demandes d'inscription</h4>


  </div>

  <div class="alert alert-success" role="alert"  *ngIf="supprimer" >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong class="d-block d-sm-inline-block-force">Demande d'inscription refusé avec succés!</strong>
    <br>
    <p class="d-block d-sm-inline-block-force">Un email de refus sera envoyer au membre concerné</p>
  </div><!-- alert -->
  <div class="alert alert-success" role="alert"  *ngIf="valider" >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong class="d-block d-sm-inline-block-force">Demande d'inscription accepté avec succés!</strong>
    <br>
    <p class="d-block d-sm-inline-block-force">Un email de confirmation sera envoyer au membre concerné</p>
  </div><!-- alert -->
  <div class="br-pagebody">
    <div class="br-section-wrapper">



      <form style="width: 80%;margin-bottom: 3%;">
        <input type="text" [(ngModel)]="query"  name="query" placeholder="Rechercher par nom, prénom, email, discipline, type"  (input)="onInputChange()">
        <button  type="submit" (click)="search(query)">Rechercher</button>
      </form>
      <p *ngIf="nb_resultats !== null"> {{nb_resultats}} résultats trouvés sur {{nb_membres}}</p>
      <div class="table-wrapper">

        <table id="datatable1" class="table display responsive nowrap">
          <thead>
            <tr>
              <th class="wd-15p">Id</th>
              <th class="wd-15p" >Nom</th>
              <th class="wd-20p">Prénom</th>
              <th class="wd-15p">E-mail</th>
               <th class="wd-15p">Date de naissance</th>
               <th class="wd-15p">Type</th>
               <th class="wd-15p">Matricule</th>

               <th class="wd-15p">Date d'inscription</th>
               <th class="wd-15p">Discipline</th>
              <th class="wd-15p">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let a of displayedUsers">
              <td>{{a[0]}}</td>
              <td>{{a[1]}}</td>
              <td>{{a[2]}}</td>
              <td>{{a[3]}}</td>
              <td>{{a[4]}}</td>
              <td>{{a[5]}}</td>
              <td>{{a[6]}}</td>
              <td>{{a[7]}}</td>
              <td>{{a[9]}}</td>


                <td  >

                  <button type="button"  (click)="openConfirmationDialogValidation(a[0],a[3])"  class="btn btn-info">Accepter</button></td>
                  <td  >
                    <button type="button"  (click)="openConfirmationDialog(a[0],a[3],a[8])" class="btn btn-danger">Refuser</button></td>
            </tr>


          </tbody>
        </table>
        <div class="pagination">
          <button class="prev" [disabled]="currentPage == 1" (click)="prevPage()">Précédent</button>

          <ng-container *ngFor="let page of pages">
            <button class="page" [class.active]="currentPage === page" (click)="goToPage(page)">{{ page }}</button>
          </ng-container>

          <button class="next" [disabled]="currentPage == totalPages" (click)="nextPage()">Suivant</button>
        </div>

      </div><!-- table-wrapper -->






    </div><!-- br-section-wrapper -->
  </div><!-- br-pagebody -->

</div><!-- br-mainpanel -->


